@use "../presets/" as *;

.main {
  &-section {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 250px;
    margin-top: 90px;
    padding-bottom: 87px;

    @include xl {
      row-gap: 150px;
    }
  }

  &-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;

    @include xl {
      grid-template-columns: 1fr;
      gap: 50px;
    }

    @include lg {
      margin: auto;
      text-align: center;

    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 30px;

      &--second {
        margin-left: 110px;
        margin-top: 25px;

      }

      &--third {
        margin-top: -18px;
      }

      &--fourth {
        margin-left: 110px;
        padding-bottom: 68px;

      }

      @include xl {
        margin-left: 0;
        padding-bottom: 0;
        margin-top: 0;
      }
    }

    &__title {
      font-weight: $font-weight *6;
      font-size: $font-size * 10;
      line-height: $line-hight * 12;

      &--first {
        max-width: 500px;

        @include lg {
          max-width: 100%;
        }
      }

      &--second {
        max-width: 370px;

        @include lg {
          max-width: 100%;
        }
      }

      &--third {
        max-width: 400px;

        @include lg {
          max-width: 100%;
        }
      }

      &--fourth {
        max-width: 350px;

        @include lg {
          max-width: 100%;
        }
      }

      @include lg {
        font-size: calc($font-size * 10 / 1.2);
        line-height: calc($line-hight * 12 / 1.2);
      }
    }

    &__description {
      font-size: $font-size * 4;
      line-height: $line-hight * 6;

      &--first {
        max-width: 491px;

        @include lg {
          max-width: 100%;
        }
      }

      &--second {
        max-width: 450px;

        @include lg {
          max-width: 100%;
        }
      }

      &--third {
        max-width: 520px;

        @include lg {
          max-width: 100%;
        }
      }

      &--fourth {
        max-width: 520px;

        @include lg {
          max-width: 100%;
        }
      }

      @include lg {
        font-size: calc($font-size * 4 / 1.2);
        line-height: calc($line-hight * 6 / 1.2);
      }

    }

    &__footnote {
      font-weight: $font-weight *6;
      font-size: $font-size * 4;
      line-height: $line-hight * 6;

      @include lg {
        font-size: calc($font-size * 4 / 1.2);
        line-height: calc($line-hight * 6 / 1.2);
      }
    }

    &__gif {
      max-width: 632px;

      @include lg {
        margin: auto;
      }

      &--order {
        order: -1;

        @include xl {
          order: 0;
        }
      }

      &-image {
        width: 100%;
        height: auto;
      }
    }

    &__link {
      text-decoration: underline;
    }
  }
}