@use "../presets" as *;

.main-easy {
    background-color: $color-companies;
    padding-top: 120px;
    padding-bottom: 160px;

    &__title {
        font-size: $font-size * 13;
        font-weight: $font-weight * 6;
        line-height: $line-hight * 15;
        text-align: center;
        padding-bottom: 29px;
        max-width: 790px;
        margin: auto;

        @include lg {
            font-size: calc($font-size * 13 / 1.2);
            line-height: calc($line-hight * 15 / 1.2);
        }
    }

    &__description {
        font-size: $font-size * 4;
        line-height: $line-hight * 6;
        text-align: center;
        padding-bottom: 54px;
        max-width: 790px;
        margin: auto;
    }

    &__item {
        &-btn {
            font-weight: $font-weight * 6;
            font-size: $font-size * 3 + 1;
            display: block;
            @include btn-main-size;
            background-color: $color-text;
            border: 0;
            color: $color-total;
            margin: auto;
            padding: 5px;
            cursor: pointer;
        }
    }
}