@import "variables";
@import "mixin";

.header {
    padding: 25px 0 23px 0;
    display: grid;
    grid-template-columns: 180px 1fr 247px;
    align-items: center;
    justify-content: space-between;

    &-logo {
        padding-right: 51px;
    }

    &-list {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 54px;
        list-style: none;

        &__link {
            font-size: $font-size * 3;
            font-weight: $font-weight * 4;
            line-height: $line-hight * 4;
            text-align: left;
        }
    }

    &-login {
        display: flex;
        align-items: center;
        gap: 10px;

        &__btn:not(:last-child) {
            outline: 1px solid $color-text;

        }

        &__btn:not(:first-child) {
            outline: 1px solid $color-btn;

        }

        &__link {
            font-weight: $font-weight * 6;
            font-size: $font-size * 3 + 1;
            display: block;
            padding: 13px;
            text-align: center;
            @include btn-header-size;
            background-color: $color-total;
            border: 0;

            &--highlight {
                color: $color-total;
                padding: 13px;
                text-align: center;
                background-color: $color-btn;
            }
        }

        &__link:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 1280px) {
    .header {
        grid-template-columns: 1fr;
        gap: 25px;
        justify-items: center;

        &-navbar {
            justify-content: center;
            padding-right: 0;
            flex-wrap: wrap;
        }

        &-list {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}