@font-face {
  font-family: "Graphik LCG";
  src: url("../../fonts/GraphikLCG-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url("../../fonts/GraphikLCG-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Graphik LCG";
  background-color: #D8D8D8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}

/*.header {
    padding: 25px 51px 23px 51px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;*/
.header {
  padding: 25px 51px 23px 51px;
  display: grid;
  grid-template-columns: 180px 1fr 247px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-logo {
  padding-right: 51px;
}
.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 54px;
}
.header-navbar__link {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.header-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header-login__btn:not(:last-child) {
  outline: 1px solid #000;
  background-color: #fff;
  width: 118px;
  min-height: 45px;
}
.header-login__btn:not(:first-child) {
  outline: 1px solid #FF6336;
  background-color: #FF6336;
  width: 118px;
  min-height: 45px;
}
.header-login__link {
  font-weight: 600;
  font-size: 16px;
  display: block;
  padding: 13px;
  text-align: center;
}
.header-login__link--highlight {
  color: #fff;
  padding: 13px;
  text-align: center;
}
.main {
  background-color: #fff;
  border-top: 1px solid #D8D8D8;
}
.main-delivery {
  padding-bottom: 172px;
  margin: 128px 0 0 76px;
  max-width: 1330px;
}
.main-delivery__info {
  background-image: url(../../images/mainaccelerate.svg);
  background-repeat: no-repeat;
  background-position: 94.5% 70%;
}
.main-delivery__info-title {
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
  margin-bottom: 51px;
  max-width: 550px;
}
.main-delivery__info-description {
  font-size: 25px;
  max-width: 471px;
  line-height: 35px;
}
.main-delivery__info-btn {
  margin: 50px 0 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.main-delivery__info-item:not(:first-child) {
  width: 148px;
  min-height: 60px;
  outline: 1px solid #000;
  text-align: center;
  padding: 0 5px;
}
.main-delivery__info-item:not(:last-child) {
  width: 148px;
  min-height: 60px;
  outline: 1px solid #FF6336;
  background-color: #FF6336;
  text-align: center;
  padding: 0 5px;
}
.main-delivery__info-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
}
.main-delivery__info-link--highlight {
  color: #fff;
}
.main-delivery__info-explanation {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  max-width: 370px;
}
.main-companies {
  padding: 108px 75px;
  background-color: #FF9C7D;
}
.main-companies__title {
  max-width: 720px;
  margin-bottom: 70px;
  margin: 0 auto 68px;
  padding-left: 115px;
}
.main-companies__title-text {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
}
.main-companies__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 103px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
@media (max-width: 1280px) {
  .header {
    grid-template-columns: 1fr;
    gap: 25px;
    justify-items: center;
  }
  .header-login {
    margin: 0;
  }
  .header-navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-delivery__info {
    min-height: 950px;
    background-position: bottom left;
    background-size: auto 40%;
  }
  .main-companies__title {
    padding-left: 0px;
  }
}
@media (max-width: 633px) {
  .main-delivery__info {
    min-height: 950px;
    background-position: bottom left;
    background-size: auto 30%;
  }
}
@media (max-width: 500px) {
  .main-delivery__info {
    min-height: 950px;
    background-position: bottom left;
    background-size: auto 20%;
  }
  .main-delivery__info-title {
    font-size: 50px;
  }
  .main-delivery__info-description {
    font-size: 19.2307692308px;
  }
  .main-delivery__info-btn {
    margin: 50px 0 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
  .main-delivery__info-explanation {
    font-size: 11.5384615385px;
  }
  .main-companies__title-text {
    font-size: 38.4615384615px;
  }
}