$line-hight: 5px;
$font-size: 5px;
$font-weight: 100;

$width-container: 1290px;
$width-site: 1440px;

$color-total: #fff;
$color-btn: #FF6336;
$color-companies: #FF9C7D;
$color-localize: #FCF6DF;
$color-quote: #C9E8F2;
$color-rate: #DABC98;
$color-text: #000;
$color-body: #D8D8D8;
$color-footer: #D8D8D8;
$color-studies: #EEEEEE;